<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<div class="container" style="margin-top:15px;">
    <div class="col-md-4 col-xs-8">
        <select class="form-control" id="selectCadenas" multiple>

        </select>
    </div>
    <div class="col-md-1 col-xs-4">
        <button class="btn btn-success btn-block" id="btnAgregar"><span class="glyphicon glyphicon-plus"></span></button>
        <button class="btn btn-danger btn-block" id="btnQuitar"><span class="glyphicon glyphicon-minus"></span></button>
        <button class="btn btn-warning btn-block" id="btnReDo"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="./js/jquery.mockjax.js"></script>

<script src="./js/models/listaCadenas.js"></script>
<script src="./js/index.js"></script>
